{% extends "base.html" %}
{% block content %}
<link href="/static/css/datepicker/bootstrap.css" rel="stylesheet">                   
<link href="/static/css/datepicker/bootstrap-datetimepicker.css" rel="stylesheet">    
<div class="ad">

    <div class="property">
        <div class="label1">CL ID </div><input id="idcrag" type="text" value="">
    </div>
    <div class="property">
        <div class="label1">Title </div><input id="title" type="text" value="">
    </div>

    <div class="property">
      <div class="row">
	<div class='col-sm-6'>
	  <div class="form-group">
	    <div class='input-group date' id='datetimepicker1'>
	      <input type='text' class="form-control" name="posting_time" />
	      <span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar">
		</span></span></div></div></div> </div></div>

      <div class="property">
        <div class="label1">Scheduled action</div><!--
     --><select id="scheduled_action" name="scheduled_action">
            <option value="none">None</option>
            <option value="add">Add</option>
        </select></div>

      <div class="property">
        <div class="label1">Repost timeout</div>
	<input id="repost_timeout" type="text" value="72">
        </div>

      
    <div class="property">
        <div class="label1"> Category </div>
	<select id="category" name="category">
	  {% for category in categories %}
          <option value="{{category.category}}">{{category.cat_name}}</option>
          {% endfor %}
        </select>
    </div>

    <div class="property">
        <div class="label1"> Area </div>
	<select id="area" name="area">
	  {% for area in areas %}
          <option value="{{area.idarea}}">{{area.area_fname}}</option>
          {% endfor %}
        </select>
    </div>


    <div class="property">
        <div class="label1"> User select </div><!--
     --><select id="user-select">
            {% for user in users %}
                <option value="{{user.idusers}}">{{user.username}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="property">
        <div class="label1"> Has license? </div><!--
     --><select id="has_license">
          <option value="1">Yes</option>
	  <option value="0">No</option>
        </select>
    </div>

    <div class="property">
        <div class="label1"> License info </div><input id="license" type="text" value="">
    </div>
    
    <div class="property">
      <div class="label1">Contact phone</div><input id="contact_phone" type="text" value="">
    </div>

    <div class="property">
      <div class="label1">Contact name</div><input id="contact_name" type="text" value="">
    </div>

    <div class="property">
      <div class="label1">Postal</div><input id="postal" type="text" value="">
    </div>

    <div class="property">
      <div class="label1">Specific location</div><input id="specific_location" type="text" value="">
    </div>

    <div class="property">
      <div class="label1"> Description </div><textarea cols=70 rows=15 id="description" type="text"></textarea>
    </div>
</div>
<div class="buttons">
    <a href="javascript:history.back()"><div class="button">Back</div></a>
    <div id="create_ad" class="button confirm">Create</div><!--
 --><div class="indicator">OK!</div>
</div>
{% endblock %}
{% block lastscripts %}
<script src="/static/js/ad-create.js"></script>

<script src="/static/js/datepicker/moment-with-locales.js"></script>
<script src="/static/js/datepicker/bootstrap.js"></script>                    
<script src="/static/js/datepicker/bootstrap-datetimepicker.js"></script>     


{% endblock %}
