{% extends "base.html" %}
{% block content %}
<!--<script src="/static/js/datepicker/jquery-2.js"></script>-->
<link href="/static/css/datepicker/bootstrap.css" rel="stylesheet">                   
<link href="/static/css/datepicker/bootstrap-datetimepicker.css" rel="stylesheet">


<div class="ad">
    <div class="property hidden">
        <div class="label1">idads </div><input id="idads" type="text" value="{{target_ad.idads}}">
    </div>

    <div class="property">
        <div class="label1">CL ID </div><input id="idcrag" type="text" value="{{target_ad.idcrag}}">
    </div>
    
    <div class="property">
        <div class="label1">Title </div><input id="title" type="text" value="{{target_ad.title}}">
    </div>

    <div class="hidden">
      <div class="label1">Previous posting time </div><input id="previous_posting_time" type="text" value="{{target_ad.posting_time}}"></div>
    
    <div class="property">
      <div class="row">
	<div class='col-sm-6'>
	  <div class="form-group">
	    <div class='input-group date' id='datetimepicker1'>
	      <input type='text' class="form-control" name="posting_time" />
	      <span class="input-group-addon">
		<span class="glyphicon glyphicon-calendar">
		</span></span></div></div></div> </div></div>

    <div class="property">
      <div class="label1">Scheduled action</div>
      <select id="scheduled_action" name="scheduled_action">
        <option value="{{scheduled_action.action}}">
	  {{scheduled_action.name}}</option>
        {% for action in allowed_actions %}
        <option value="{{action.action}}">{{action.name}}</option>
        {% endfor %}
    </select></div>
    
    <div class="property">
      <div class="label1">Repost timeout (hours)</div>
      <input id="repost_timeout" type="text" value="{{target_ad.repost_timeout}}">
    </div>
      
    <div class="property">
        <div class="label1">Status</div><input id="status" type="text" value="{{target_ad.status}}">
    </div>

    <div class="property">
        <div class="label1"> Category </div><!--
     --><select id="category" name="category">
            <option value="{{current_category.category}}">{{current_category.cat_name}}</option>
            {% for category in categories %}
                <option value="{{category.category}}">{{category.cat_name}}</option>
            {% endfor %}
        </select>
    </div>


    <div class="property">
        <div class="label1"> Area </div><!--
     --><select id="area" name="area">
            <option value="{{current_area.area}}">{{current_area.area_name}}</option>
            {% for area in areas %}
                <option value="{{area.area}}">{{area.area_name}}</option>
            {% endfor %}
        </select>
    </div>


    <div class="property">
        <div class="label1"> User select </div><!--
     --><select id="user-select">
            <option value="{{current_user.idusers}}">{{current_user.username}}</option>
            {% for user in users %}
                <option value="{{user.idusers}}">{{user.username}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="property">
        <div class="label1"> Has license? </div><!--
     --><select id="has_license">
            <option value="1" {{has}}>  Yes</option>
            <option value="0" {{hasno}}>No</option>
        </select>
    </div>

    <div class="property">
      <div class="label1"> License info </div><!--
   --><input id="license" type="text" value="{{target_ad.license_info}}">
    </div>

    <div class="property">
      <div class="label1">Contact phone</div><!--
   --><input id="contact_phone" type="text" value="{{target_ad.contact_phone}}">
    </div>

    <div class="property">
      <div class="label1">Contact name</div><!--
   --><input id="contact_name" type="text" value="{{target_ad.contact_name}}">
    </div>

    <div class="property">
      <div class="label1">Postal</div><!--
   --><input id="postal" type="text" value="{{target_ad.postal}}">
    </div>

    <div class="property">
      <div class="label1">Specific location</div><!--
   --><input id="specific_location" type="text" value="{{target_ad.specific_location}}">
    </div>


    <div class="property">
      <div class="label1"> Description </div><textarea cols=70 rows=15 id="description" type="text">{{target_ad.description}}</textarea>
    </div>
    <div class="imgallery">
      {% for image in images %}
      <img src="data:image/{{image.extension}};base64, {{image.image}}">
      <br> <a href="/delete_image/{{image.idimages}}"> Delete </a>
      <br><br>
    {% endfor %}</div>

  <form id="images_upload" action="/upload_image" method="post" enctype="multipart/form-data">
    <br>
    Select image to upload:
    <input id="image_to_upload" type="file" name="images[]" multiple/>
    <input id="image_upload_submit" type="submit" value="Upload" name="submit">
  </form>

</div>
<div class="buttons">
    <a href="javascript:history.back()"><div class="button">Back</div></a>
    <div id="edit_ad" class="button confirm">Save</div><!--
 --><div class="indicator">OK!</div>
</div>
{% endblock %}
{% block lastscripts %}
<script src="/static/js/ad-edit.js"></script>

<script src="/static/js/datepicker/moment-with-locales.js"></script>
<script src="/static/js/datepicker/bootstrap.js"></script>                    
<script src="/static/js/datepicker/bootstrap-datetimepicker.js"></script>     

{% endblock %}
