{% extends "base.html" %}
{% block content %}
<div class="ad">
  <div class="property hidden">
    <div class="label">idads </div><input id="idads" type="text" value="{{target_ad.idads}}"></div>


  <div class="property">
    <div class="label">title </div><input id="title" type="text" value="{{target_ad.title}}"></div>

  <div class="property">
    <div class="label">posting_time </div><input id="posting_time" type="text" value="{{target_ad.posting_time}}"></div>

  <div class="property">
    <div class="label">status</div><input id="status" type="text" value="{{target_ad.status}}"></div>

  
  <div class="property">
    <div class="label">category</div><input id="category" type="text" value="{{target_ad.category}}"></div>

  <div class="property">
    <div class="label">area</div><input id="area" type="text" value="{{target_ad.area}}"></div>

  <div class="property">
    <div class="label">replymail</div><input id="replymail" type="text" value="{{target_ad.replymail}}"></div>

  <div class="property">
    <div class="label"> User select </div>
    <select id="user-select">
      <option value="{{current_user.idusers}}">{{current_user.username}}</option>
      {% for user in users %}
      <option value="{{user.idusers}}">{{user.username}}</option>
      {% endfor %}
    </select></div>
  <div class="property">
    <div class="label"> description </div><textarea cols=100 rows=40 id="description" type="text">{{target_ad.description}}</textarea></div>
  <div class="imgallery">
  {% for image in images %} <img src="data:image/{{image.extension}};base64, {{image.image}}">{% endfor %}</div>

  <form id="images_upload" action="/upload_image" method="post" enctype="multipart/form-data">
    <br>
    Select image to upload:
    <input id="image_to_upload" type="file" name="images[]" multiple/>
    <input id="image_upload_submit" type="submit" value="Upload" name="submit">
    </form>

</div>
<div class="buttons">
    <a href="javascript:history.back()"><div class="button">Back</div></a>
    <a href="/ad/edit/{{target_ad.idads}}"> <div id="edit_ad" class="button confirm">Save</div>    </a>
</div>
{% endblock %}
{% block lastscripts %}
    <script src="/static/js/ad-edit.js"></script>
{% endblock %}
