{% extends "base.html" %}
{% block content %}
    <table class="ad">
        <tbody>
        <tr>
            <th class="hidden">idads</th>
            <th>Title</th>
	    <th>Status</th>
            <th>Scheduled time</th>
	    <th>Scheduled action</th>
            <th>User</th>
            <th>Category</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>CL Actions</th>

        </tr>
        {% for ad in ads %}
        <tr class="item">
            <td class="hidden">{{ad.idads}}</td>
            <td>{{ad.title}}</td>
	    <td>{{ad.status}}</td>
            <td>{{ad.posting_time}}</td>
	    <td>{{ad.scheduled_action}}</td>
            <td>{{ad.user}}</td>
            <td>{{ad.category}}</td>
            <td><a href="/ad/edit/{{ad.idads}}">Edit</a></td>
            <td><a class="warning" href="/ad/delete/{{ad.idads}}">Delete</a></td>
            <td>{% for action in ad.allowed_actions.split(',') %}<a href="/manage/{{action}}/{{ad.idads}}" class="action">{{action|capitalize}}</a> {% endfor %}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="buttons">
        <div class="indicator"></div>
      <a href="/ad/create"><div class="button">New</div></a>
    </div>
{% endblock %}
{% block lastscripts %}
    <script src="/static/js/ad-index.js"></script>

{% endblock %}
