<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CragApp</title>
        <link href="/static/css/cragapp.css" rel="stylesheet">
    </head>
    <body>
        <div class="menu">
          <a href="/ads" {% if menu == 'ad' %}class="active"{% endif %}>Ads</a>
          <a href="/users" {% if menu == 'user' %}class="active"{% endif %}>Users</a>
          <a href="/vps" {% if menu == 'vps' %}class="active"{% endif %}>VPS</a>

        </div>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/cragapp.js"></script>
    {% block lastscripts %}
    {% endblock %}
</html>
