{% extends "base.html" %}
{% block content %}
<div class="sync">
  <form id="scrap_ads" action="/scrap_ads" method="post" enctype="multipart/form-data">
    <br>
    Select user which own ad(s) you want to scrape: <br>

    <select id="user-select" name="user-select">
      {% for user in users %}
      <option value="{{user.idusers}}">{{user.username}}</option>
      {% endfor %}
    </select>
    <select id="category" name="category">
      <option value="aos"> automotive services </option>
      <option value="bts"> beauty services </option>
      <option value="cps"> computer services </option>
      <option value="crs"> creative services </option>
      <option value="cys"> cycle services </option>
      <option value="evs"> event services </option>
      <option value="fgs"> farm & garden services </option>
      <option value="fns"> financial services </option>
      <option value="hss"> household services </option>
      <option value="lbs"> labor & moving </option>
      <option value="lgs"> legal services </option>
      <option value="lss"> lessons & tutoring </option>
      <option value="mas"> marine services </option>
      <option value="pas"> pet services </option>
      <option value="rts"> real estate services </option>
      <option value="sks"> skilled trade services </option>
      <option value="biz"> small biz ads </option>
      <option value="ths"> therapeutic services </option>
      <option value="trv"> travel/vacation services </option>
      <option value="wet"> Writing/editing/translation </option>
    </select>

    
    <select id="area" name="area">
      <option value="longisland"> Long island </option>
      <option value="newyork"> Newyork </option>
    </select>
    
    <br>Put ids of ads you want to scrape here (Enter is separator) <br>
    <textarea cols=40 rows=10 id="ad_ids" name="ad_ids" type="text"></textarea>
    <input id="scrap_ad_submit" type="submit" value="Sync">
  </form>
</div>
{% endblock %}
