{% extends "base.html" %}
{% block content %}
    <table class="user">
      <tbody>
            <tr>
                <th>idusers  </th>
                <th>idvpss   </th>
                <th>username </th>
                <th>password </th>
                <th>accountID</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            {% for user in users %}
            <tr class="item">
	      <td>{{user.idusers}}   </td>
              <td>{{user.idvpss}}   </td>
              <td>{{user.username}} </td>
              <td>{{user.password}} </td>
              <td>{{user.accountID}}</td>
              <td><a href="/user/edit/{{user.idusers}}">Edit</a></td>
              <td><a class="warning" href="/user/delete/{{user.idusers}}">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="buttons">
        <div class="indicator"></div>
        <a href="/user/create"><div class="button">New</div></a>
    </div>
{% endblock %}
{% block lastscripts %}
    <script src="/static/js/user-index.js"></script>
{% endblock %}
