{% extends "base.html" %}
{% block content %}
    <table class="user">
      <tbody>
            <tr>
                <th class="hidden">idusers  </th>
                <th>VPS   </th>
                <th>Username </th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Sync</th>
            </tr>
            {% for user in users %}
            <tr class="item">
	      <td class="hidden">{{user.idusers}}   </td>
              <td>{{user.vps}}   </td>
              <td>{{user.username}} </td>
              <td><a href="/user/edit/{{user.idusers}}">Edit</a></td>
              <td><a class="warning" href="/user/delete/{{user.idusers}}">Delete</a></td>
              <td><a class="sync" href="/scrap_ads/{{user.idusers}}">Sync</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="buttons">
        <div class="indicator"></div>
        <a href="/user/create"><div class="button">New</div></a>
    </div>
{% endblock %}
    {% block lastscripts %}
    <script src="/static/js/datepicker/moment-with-locales.js"></script>
    <script src="/static/js/user-index.js"></script>
{% endblock %}
